/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 9px auto;

}
#header{
 height: 100px;
 background-color: green;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
}
#main_content{
 height: 400px;
 width: 700px;
 background-color: red;

}
.subcontents{
 height: 100px;
 width: 200px;
 background-color: yellow;
 display: inline-block;


}
#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;
}
